<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs442.team4.tahelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CourseActivity"></activity>
        <activity android:name=".activity.ModuleListActivity"></activity>
        <activity android:name=".activity.AddModuleActivity"></activity>
        <activity android:name=".activity.EditDeleteModuleActivity"></activity>
        <activity android:name=".activity.ManageAssignmentsActivity"></activity>
        <activity android:name=".activity.AddAssignmentsActivity"></activity>
        <activity android:name=".activity.EditDeleteAssignmentActivity"></activity>
        <activity android:name=".student.StudentModulesActivity"></activity>
        <activity android:name=".student.StudentAssignmentListActivity"></activity>
        <activity android:name=".student.StudentAssignmentSplitsListActivity"></activity>
        <activity android:name=".student.StudentListActivity"></activity>


    </application>

</manifest>