<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs442.team4.tahelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ta_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

       <!-- <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".CourseActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"></activity>

        <!--
        <activity android:name=".student.GradeStudentListActivity"></activity>
        -->
        <activity android:name=".student.GradeStudentListActivity" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".activity.ModuleListActivity"      android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".activity.AddModuleActivity"  android:windowSoftInputMode="adjustPan" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".activity.EditDeleteModuleActivity"   android:windowSoftInputMode="adjustPan" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".activity.ManageAssignmentsActivity"></activity>
        <activity android:name=".activity.AddAssignmentsActivity"   android:windowSoftInputMode="adjustPan" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".activity.EditDeleteAssignmentActivity"   android:windowSoftInputMode="adjustPan" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".student.StudentModulesActivity" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".student.StudentAssignmentListActivity" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".student.StudentAssignmentSplitsListActivity" android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".showcase.ActionItemsSampleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".preferences.MyPreferenceActivity"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".student.GradeWithSplitsActivity"
            android:windowSoftInputMode="adjustNothing" android:configChanges="orientation|screenSize" />
        <activity android:name=".student.GradeWithoutSplitsActivity" />

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ModuleDatabaseUpdationIntentService"
            android:exported="false" />
        <service
            android:name=".services.AssignmentsDatabaseUpdationService"
            android:exported="false" />

    </application>

</manifest>